{
  "presets": ["module:metro-react-native-babel-preset"],
  "env": {
    "development": {
      "plugins": [
        [
          "inline-dotenv",
          {
            "path": ".env.local"
          }
        ]
      ]
    }
  }
}
